.listItem > * {
  width: 100%;
  text-align: left;
}

.listItem > button,
.listItem > a {
  padding: 6px 8px;
}

.listItem {
  &:hover,
  &:focus,
  &:focus-visible {
    outline: none;
    background-color: hsl(var(--secondary));
  }
}
